{% extends 'base_integration.html.twig' %}

{% block stylesheets %}<link href="{{ asset('css/lostPassword.css') }}" rel="stylesheet">{% endblock %}

{% block header %}
    <header>
        <div class="jumbotron-lostPassword vertical-center">
            <img class="logo-mobile" src="{{ asset('img/lostPassword/lost-password.jpg') }}" alt="logo-nao-mobile">
        </div>
        <div class="nao-header-align-left">
            <div class="nao-header nao-header-faq">
                <p class="nao-header-size1">Nao</p>
                <p class="nao-header-size2">Nos Amis les Oiseaux</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Réinitialisation de mot de passe</h3>
        <p>Le lien n'est plus valide. Veuillez <a href="{{ path('lostPassword') }}">recommencer</a></p>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/menu.js') }}"></script>
{% endblock %}
