<!DOCTYPE html>
<html lang="FR">
<head>
    <style>

    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mail de confirmation</title>
</head>

<body>
<section id="page-sample">
    <div class="container content-section text-left">

        <p>Ce mail a été envoyé depuis le formulaire de réinitialisation de mot de passe du site de Nos amis les oiseaux</p>
        <hr/>
        <p>Vous disposer de 30 minutes à compter de la soumission du formulaire sur le site pour utiliser <a href="{{ path('resetPassword', {"token": token}) }}">ce lien</a>
            qui vous permettra de modifier votre mot de passe</p>
        <p>Si vous n'êtes pas à l'origine de cette réinitialisation, ne faites aucune action</p>
    </div>
</section>
</body>
</html>
