<div class="pagination-table-my-observations" url="{{ path('pagination_my_observations') }}">
    {% if app.user.observations|length != 0 %}
        <div class="table-responsive-vertical shadow-z-1">
            <table class="table table-hover table-mc-default">
                <thead>
                <tr>
                    <th>Modification</th>
                    <th>Détails</th>
                    <th>Espèces observées</th>
                    <th>Date d'observation</th>
                    <th>Statut</th>
                </tr>
                </thead>
                <tbody>

                    {# Affichage de la boucle de mes observations #}
                    {{ include(':default/dashboard/commonFeatures/myObservations:myObservationsLoop.html.twig') }}

                </tbody>
            </table>
        </div>
        {# div englobant le paginator et contenant la route à prendre pour la requete Ajax de pagination#}
        <div id="paginationMyObservations" class="row">
            {# display navigation #}
            <div class="navigation mx-auto">
                {{ knp_pagination_render(currentUserObservations) }}
            </div>
        </div>
    {% else %}
        <p>Vous n'avez réalisé aucune observation pour le moment.</p>
    {% endif %}

</div>
