{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center alert alert-danger">
        <h1>Oups ! Une erreur est survenue !</h1>
        <h2>Le serveur a retourné l'erreur suivante :</h2>
        <h2>"{{ status_code }} {{ status_text }}".</h2>
        <h3>Message d'erreur : {{ exception.message }}</h3>
        <p>
            Veuillez nous excuser pour la gêne occasionnée. Si le problème persiste, n'hesitez pas à nous contacter pour nous signaler cette erreur.
        </p>
    </div>
    <p class="text-center"><a href="{{ path('homepage') }}">Retour à l'accueil</a></p>
{% endblock %}