{# ajout d'une question/reponse #}

    <div class="mx-auto" id="flashMsgFaq">
    </div>

    <div class="mx-auto">
        <a class="btn btn-default btn-add-faq" href="{{ path('new-faq') }}">Créer une question</a>
    </div>

{% include('default/dashboard/websiteAdministration/faq/paginateTable.html.twig') %}
