/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/
/web/markers/markers.xml
/web/uploads/categories_files/*
/web/uploads/posts_files/*
/web/uploads/observations_files/*
/web/uploads/avatars_files/*