<button id="geoloc">Géolocalisez vous !</button>
<div id="map" style="height: 300px;"></div>

{{ form_start(createObservationForm) }}
{{ form_errors(createObservationForm) }}
{{ form_end(createObservationForm) }}
