<p>Gestion des utilisateurs</p>
<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>username</th>
        <th>role</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <th>{{ user.id }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td><a class="btn btn-primary" href="{{ path('changeRole', {'id': user.id}) }}">Changer role</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>