<html>
    <head>
        <meta charset="utf-8">
        <title>Document sans nom</title>
        <!--========== favicon / image ============-->
        <link rel="shortcut icon" href="https://scripteden.com/eden-ui-2-landing-pages/images/logo/eden-ui-2-logo-only.png">
        <!--========== animation oiseaux ============-->
        <link href="{{ asset('css/landingPage2.css') }}" rel="stylesheet">


    </head>

    <body>
        <canvas class="p-canvas-webgl" id="canvas-webgl" style="z-index:-99 "></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/86/three.min.js"></script>
        <script src="{{ asset('js/landingPage2.js') }}"></script>
    </body>


</html>