<!-- Footer -->
<footer>
    <div class="nav-footer">
        <a href="#">Mentions légales</a>
        <a href="#">FAQ</a>
        <a href="#">Landing Page</a>
        <a href="#">Plan du site</a>
    </div>
    <div class="container-fluid footer">
        <a href="{{ path("homepage") }}"><img src="{{ asset('img/logo-footer.png') }}" /></a>
        <p class="nao">Nao</p>
        <div class="footer-lien">
            <a href="#"><i class="fa fa-facebook-square"></i></a>
            <a href="#"><i class="fa fa-twitter-square"></i></a>
            <a href="#"><i class="fa fa-pinterest-square"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <p class="copyright">Gravity Web copyright 2017</p>
    </div>
</footer>