{# structure pour une réponse isolée à un commentaire (ajouté en js) #}
<div class="comment-div" style="padding-left: 20px;">
    <p>{{ comment.author.username }} -- {{ comment.date|date("d/m/Y à H:i", "Europe/Paris") }}</p>
    <p>{{ comment.message }}</p>
    <hr>
</div>
