h3{
    margin-top: 40px;
}

.close img{
    width: 30px;
}

/*----------------------------------------------- Header ----------------------------------------------- */
.jumbotron-dashboard img{
    width : 100%;
    height : 800px;
    object-fit: cover;
}

@media (max-width: 420px) {
    .jumbotron-dashboard img {
        height: 200px;
    }
}

/*----------------------------------------------- quickAccess ----------------------------------------------- */
#quickAccess{
    max-width: 40%;
}

#buttonSaisieRapide img{
    max-width: 100px;
}

#quickAccess p{
    font-size: 18px;
    margin-bottom: 40px;
}

#quickAccess p:hover{
    color: #38A5E0;
}


/*----------------------------------------------- Container dashboard ----------------------------------------------- */

#dashboard.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#dashboard.container a{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    margin-top: 0;
    Color : #444;
}

#dashboard.container a{
    Color : #444;
    text-decoration: none;
}



/*----------------------------------------------- Card ----------------------------------------------- */

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1000px;
    margin: 10px auto 10px auto;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: 2px solid black;
    border-radius: 0;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4) !important;
}

.card-header {
    padding: 20px 20px;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

/*----------------------------------------------- commonFeatures ----------------------------------------------- */
#commonFeatures hr{
    width: 50%;
}

#commonFeatures h3{
    margin-top: 80px !important;
}

/*----------------------------------------------- Modal ----------------------------------------------- */

.modal-content{
    max-width: 400px;
    margin: auto;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid;
    border-radius: 0;
    outline: 0;
}

.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

.photo .control-label {
    margin: auto;
    background-color: #333;
    color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 1.5px;
    z-index: 0;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.42857143;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}

@media (max-width: 420px) {
    .modal-content{
        width: 100%
    }
}

