/*----------------------------------------------- Header ----------------------------------------------- */
.jumbotron-index {
    background-color: #C2C0C0;
    height: 600px;
    Color : #444;
    margin-bottom: 0;
    border-radius: 0;
}

.jumbotron-index h1{
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    margin-top: 0;

}

.logo-mobile{
    display: none;
}

@media (max-width: 420px)
{
    .jumbotron-index{
        margin-top: 200px;
        background: url(../img/index/image-header-mobile-t.png) 0 0 no-repeat;
        background-size: cover;
    }

    .logo-mobile {
        display: block;
        position: absolute;
        top: 100px;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-top: -50px; /* Half the height */
        margin-left: -50px; /* Half the width */
    }
}

.container-body{
    margin: auto;
    width: 100%;
}

@media (min-width: 1200px){
    .container-body {
        max-width: 1200px;
    }
}


/*----------------------------------------------- Infos ----------------------------------------------- */
.infos{
    display: flex;
    padding-top: 50px;
    width: 100%;
    margin: auto;
}

.infos p{
    font-size: 13px;
}

.infos h3{
    font-size: 22px;
    margin-top:0;
    margin-bottom: 20px;
}

.infos img {
    float: left;
    width: 25px;
}

.position{
    margin-left: 35px;
}

.space{
    margin-left:50px;
    margin-right:50px;
}

@media (min-width: 420px) {
    .container-body{
        margin: auto;
        width: 90%;
    }
}

@media (max-width: 768px) {
    .infos{
        flex-wrap: wrap;
        padding-bottom: 20px !important;
    }

    .space{
        margin-left: 0;
        margin-right:0;
        margin-top:20px;
        margin-bottom:20px;
    }
}

@media (max-width: 420px) {
    .infos{
        width: 95%;
    }
}

/*-----------------------------------------------  Articles ----------------------------------------------- */

.articles .container {
    background-color: #fff;
}


/*.articles-images{*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
/*}*/

.padding-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.articles .content-iphone {
    position: relative;
}

.articles .single-content {
    max-width: 340px;
    margin: 70px auto 50px;
}

.articles .single-content h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 37px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    position: relative;
}

.articles .single-content p {
    color: #666;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.7px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.articles .single-content .button {
    background-color: #333;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 2px;
    min-width: 135px;
    padding: 14px 25px;
    position: relative;
    text-transform: uppercase;
    word-spacing: 1.5px;
    z-index: 0;
}

.articles .single-content .button {
    box-shadow: 2px 6.9px 16px rgba(0, 0, 0, 0.4) !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 450px;
}

@media (max-width: 768px) {
    .order:nth-child(1) {
        order: 2;
    }

    .order:nth-child(2) {
        order: 1;
    }

    .single-content {
        margin-top: 10px !important;
        margin-bottom: 30px !important;
    }

    .content-iphone{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}

/*-----------------------------------------------  Section compteur ----------------------------------------------- */

.animation{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    width:100%;
    height: 300px;
    min-height:100%;
    overflow:hidden;
}

canvas{
    position: absolute;
    z-index:-1;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    background: linear-gradient(#B7B0E3, #FFD3D6);
}


@keyframes anim {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(-200%);
    }
}

@keyframes anime {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}
.c1, .c2 {
    width: 800px;
    height: 700px;
    position: absolute;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/131045/clouds.png") 0 0 no-repeat;
    background-size: 100%;
    z-index:-1;
}
.c1.one, .c2.one {
    top: -260px;
    left: 0px;
}
.c1.two, .c2.two {
    top: -200px;
    left: 100px;
}
.c1.three, .c2.three {
    top: -240px;
    right: 100px;
}
.c1.four, .c22.four {
    top: -180px;
    right: 0px;
}

.c2 .one {
    top: -209px;
}

@media (min-width: 769px) {
    .compteur-mobile{
        display:none;
    }
}


@media (max-width: 1023px) {
    .c2.one {left: -80px;}
    .c2.two {left: -120px;}
    .c2.three {right: 220px;}
    .c2.four {right: 220px;}
}

.c1 {
    animation: anime 1000s linear infinite forwards;
}

.c2 {
    transform: translateX(200%);
    animation: anim 1000s linear infinite forwards;
}


.compteur{
    z-index: 1000;
    height: 300px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index-line{
    display: flex;
    line-height: 50px;
}

.size37{
    font-size: 37px;
}

.size20{
    font-size: 20px;
    padding-left: 10px;
}

@media (max-width: 768px) {
    canvas{
        display: none;
    }
    .compteur-mobile {
        display: flex;
        background-color: #333;
        align-items: center;
        max-width: 1200px;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom:40px;
    }

    .compteur-mobile p {
        color: #f9f9f9 !important;
    }

    .compteur p{
        color: #f9f9f9;
    }

    .animation{
        display: none;
    }
}


/*-----------------------------------------------  Section Formulaire ----------------------------------------------- */

.contact{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

h2{
    margin-bottom: 30px !important;
    font-size: 30px;
}

.formulaire{
    width: 50%;
}

.form-control{
    height: 50px;
    border-radius: 0;
    box-shadow: 1px 1px 20px #DCDCDC;
}
.contactMessage{
    height: 150px;
    border-radius: 0;
    box-shadow: 1px 1px 20px #DCDCDC;
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

form .btn {
    background-color: #333;
    color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 1.5px;
    z-index: 0;
    padding: 6px 12px;
    margin: 0 2px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.42857143;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 6px 8px 10px #DCDCDB !important
}


.coordonnées{
    margin-left: 50px;
}

.coordonnées h4{
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 18px;
}

.coordonnées p{
    font-size: 13px;
}

.spaceh4{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.fa{
    font-size: 24px;
}

.fa-phone-square{
    font-size: 18px;
    color: #ffd11a;
}
.fa-home{
    font-size: 18px;
    color: #00cc44;
}

.fa-envelope {
    font-size: 18px;
    color: #ff3377;
}

.coordonnées div{
    display : flex;
}

.coordonnées div p{
    padding-left: 10px;
}

a .fa{
    color: black;
}

@media (max-width: 768px) {
    .contact {
        flex-wrap: wrap;
        width: 90%;
        padding-bottom: 30px;
    }

    .formulaire{
        width: 100%;
        padding-bottom: 28px;
    }

    .coordonnées{
        margin-left: 0;
    }

    .coordonnées h4{
        padding-top: 30px;
    }

    .center{
        display: flex;
        justify-content: center;
    }

    .center a{
        padding-right: 2px;
        padding-left: 2px;
    }
}

