@import url("https://fonts.googleapis.com/css?family=Homenaje");
.p-canvas-webgl {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

}

.p-summary {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    color: #111;
    font-family: "Lucida Console", Monaco, monospace, sans-serif;
}
.p-summary h1 {
    margin: 0 0 0.2em;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0.05em;
}
.p-summary p {
    margin: 0;
    font-size: 1.1rem;
    letter-spacing: 0.1em;
}
.p-summary a {
    color: #111;
}

#menu
{
    font-size:18px;
    font-weight:normal;
    letter-spacing:6px;
}

#menu ul
{
    margin:0;
    padding:0;
    list-style:none;
}

#menu ul li
{
    cursor:pointer;
    padding:5px 8px;
}

#menu ul li:hover
{
    background-color:#008ac5;
    color:gold;
}

#hamburger
{
    display:none;
    width:100%;
    height:50px;
    text-align:center;
}

@media screen and (max-width: 750px) {

    #menu {
        display: none;
    }

    a
    #hamburger {
        display: block;
    }

    .image {
        size: 10px;
        background-position: right;
        margin-left: 900px;
    }
}

/*----------------------------------------------- Header ----------------------------------------------- */
#header{
    margin: 0 80px 0 auto;
    height: 100%;
}
/*h1{*/
    /*margin-top: 200px;*/
/*}*/

.btn-info:focus {
    box-shadow: 0 0 0 0 rgba(23,162,184,.5);
}

#header h1{
    font-size: 30px;
}

#header .button {
    background-color: #333;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 2px;
    min-width: 135px;
    padding: 14px;
    position: relative;
    text-transform: uppercase;
    word-spacing: 1.5px;
    z-index: 0;
}

#header .buttonGrey {
    background-color: grey;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 30px;
    min-width: 135px;
    padding: 14px;
    position: relative;
    text-transform: uppercase;
    word-spacing: 1.5px;
    z-index: 0;
}

#header .text{
    width: 45%;
}

#header .text h5{
    margin: 30px 0 30px 0;
}

@media (max-width: 768px){
    #header{
        width: 90%;
        margin: auto auto 40px auto;
    }

    #header .text{
        width: 70%;
    }

    #header .buttonGrey {
        margin-left: 5px;
    }
}