.container-mentions-legales{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.mentions-legales-adresse{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.mentions-legales-adresse p{
    margin-bottom: 0;
    margin-left: 50px;
}

/*----------------------------------------------- Header ----------------------------------------------- */
.jumbotron-legalNotices img{
    width : 100%;
    height : 800px;
    object-fit: cover;
}

@media (max-width: 420px) {
    .jumbotron-legalNotices img {
        height: 200px;
    }
}
