/*----------------------------------------------- Header ----------------------------------------------- */
.jumbotron-lostPassword {
    background: url(../img/lostPassword/header-page-mot-de-passe-oublie.jpg) 0 0 no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    Color : #444;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-radius: 0;
}

.btn {
    background-color: #333;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 2px;
    min-width: 135px;
    padding: 14px 25px;
    position: relative;
    text-transform: uppercase;
    word-spacing: 1.5px;
    z-index: 0;
}

.logo, .logo-mobile{
    display: none;
}
body{
    padding-bottom: 0 !important;
}

header {
    background-color: white;
    color: white;
    font-size: 13px;
    height: auto;
    padding: 0;
}

@media (max-width: 420px){
    .jumbotron-lostPassword {
        height: 200px;
        margin-top: 150px;
    }


    .logo-mobile {
        display: block;
        position: absolute;
        top: 100px;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-top: -50px; /* Half the height */
        margin-left: -50px; /* Half the width */
    }
}